<ActionBar title="Contact Us" class="action-bar">
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>

    <ScrollView orientation="vertical" tkMainContent class="page">
        <GridLayout class="m-5" rows="auto auto auto">
            <StackLayout row="0">
                <StackLayout class="p-10 border"> 
                    <Label class="h3" text="Contact Information"></Label>
                    <StackLayout class="p-l-25">
                        <Label class="body" text=""></Label>                       
                        <Label class="body" text="121, Clear Water Bay Road"></Label>
                        <Label class="body" text="Clear Water Bay, Kowloon"></Label>
                        <Label class="body" text="HONG KONG"></Label>
                        <Label class="body" text="Tel: +852 1234 5678"></Label>
                        <Label class="body" text="Fax: +852 8765 4321"></Label>
                        <Label class="body" text="Email:confusion@food.net"></Label>
                    </StackLayout>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</RadSideDrawer>