<ScrollView sdkExampleTitle sdkToggleNavButton >
    <GridLayout class="m-5" rows="auto auto auto auto" columns="*, *" [formGroup]="commentForm">

        <Label class="h3 m-15" row="0" col="0" text="Your Name" textWrap="true"></Label>
        <TextField class="input input-border" id="author"
            hint="Your Name" [text]=''(textChange)="onAuthorChange($event)"
            row="0" col="1" formControlName="author"></TextField>

        <Label class="h3 m-15" row="1" col="0" text="Rating" textWrap="true"></Label>
        <Slider class="m-15" row="1" col="1"
            value="5" minValue="1" maxValue="5"
            (valueChange)="onRatingChange($event)" formControlName="rating"></Slider>

        <Label class="h3 m-15" row="2" col="0" text="Your Comment" textWrap="true"></Label>
        <TextField class="input input-border" id="comment"
            hint="Your Comment" [text]=''(textChange)="onCommentChange($event)"
            row="2" col="1" formControlName="comment"></TextField>

        <Button class="btn btn-primary btn-active m-15" row="3" col="0"
            text="Submit" (tap)="onSubmit()"></Button>

    </GridLayout>
</ScrollView>